.msg-booking-login {
    & > * {
        font-weight: 400 !important;
    }
}

.dialog-panel-booking .mat-dialog-container .booking-dialog-wrap .mat-dialog-content .dialog-container {
    &.dc-login-booking {
        padding: 8px 48px;
    }
}

.login-button.mat-raised-button{
  background-color: #0c21dc !important;
  color: #ffffff !important;
}
.dialog-header{
  background-color: #ffffff;
}
.mat-dialog-content{
  background-color: #f6f6f6;
}
