<div class="containerX">
    <div fxLayout="row" class="dialog-header">
        <ng-container *ngIf="isForBooking else normalTmpl">
            <button mat-icon-button (click)="closeDialog()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div fxFlex="flex">
                <h5>{{ selectedServiceName }}</h5>
            </div>
        </ng-container>
        <ng-template #normalTmpl>
            <div fxFlex="flex">
                <button mat-icon-button (click)="goBackToOne()" *ngIf="isExistingUser || isNewUser">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
        </ng-template>
        <div fxFlex="none">
            <button mat-icon-button (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="login-dialog-wrap" [ngClass]="{'booking-dialog-wrap': isForBooking, 'dialog-sans-actions': isForBooking}">
    <form [formGroup]="loginForm" novalidate>
    <div class="mat-dialog-content">
        <div class="containerX dialog-container" [ngClass]="{'dc-login-booking': isForBooking}">
            <div fxLayout="column" fxLayoutGap="16px">
                <div *ngIf="isForBooking" class="msg-booking-login">
                    <h1>Almost there!</h1>
                    <h3>Please login/signup to continue</h3>
                </div>
                <mat-form-field floatLabel="never" *ngIf="isNewUser">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="text" matInput placeholder="Name" formControlName="name" novalidate>
                    <mat-error *ngIf="(loginForm.controls['name'].errors | firstKey) ==='required' && loginForm.controls['name'].touched">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="(loginForm.controls['name'].errors | firstKey) === 'pattern' && loginForm.controls['name'].touched">
                        Please enter a valid name
                    </mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="never">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" cdkFocusRegionstart matInput placeholder="Mobile Number" formControlName="number" novalidate>
                    <mat-error *ngIf="(loginForm.controls['number'].errors | firstKey) ==='required' && loginForm.controls['number'].touched">
                        Mobile number is required
                    </mat-error>
                    <mat-error *ngIf="(loginForm.controls['number'].errors | firstKey) === 'invalidNumber' && loginForm.controls['number'].touched">
                        Please enter a valid mobile number
                    </mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="never" *ngIf="isExistingUser">
                    <input type="text" matInput placeholder="Enter 6 digit OTP" formControlName="otp" novalidate>
                    <mat-error *ngIf="(loginForm.controls['otp'].errors | firstKey) ==='required' && loginForm.controls['otp'].touched">
                        OTP is required
                    </mat-error>
                    <mat-error *ngIf="(loginForm.controls['otp'].errors | firstKey) ==='minLength' && loginForm.controls['otp'].touched">
                        Please enter valid 6-digit OTP
                    </mat-error>
                    <mat-error *ngIf="(loginForm.controls['otp'].errors | firstKey) ==='maxLength' && loginForm.controls['otp'].touched">
                        Please enter valid 6-digit OTP
                    </mat-error>
                </mat-form-field>
                <mat-form-field floatLabel="never" *ngIf="isNewUser">
                    <input type="email" matInput placeholder="Email" formControlName="email" novalidate>
                    <mat-error *ngIf="(loginForm.controls['email'].errors | firstKey) ==='required' && loginForm.controls['email'].touched">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="(loginForm.controls['email'].errors | firstKey) ==='pattern' && loginForm.controls['email'].touched">
                        Please enter valid email id
                    </mat-error>
                </mat-form-field>
                <span class="spacer" style="height: 24px;"></span>
                <button mat-raised-button color="primary" (click)="onClickGetOTP()"
                    *ngIf="!isExistingUser && !isNewUser" [disabled]="loginForm.invalid">
                    Login/Signup
                </button>
                <button mat-raised-button color="primary" (click)="onClickLogin()"
                    *ngIf="isExistingUser" [disabled]="loginForm.invalid">
                    Verify & Login
                </button>
                <button mat-raised-button color="primary" (click)="onClickGetOTP()"
                    *ngIf="isNewUser" [disabled]="loginForm.invalid">
                    Get OTP
                </button>
            </div>
        </div>
    </div>
    </form>
</div>