<div class="banner-wrap">
    <div fxLayout="row" class="search-wrap">
        <div fxLayout="column" fxLayoutAlign="baseline center">
            <p class="p-prime">Novowash presents</p>
            <p class="p-sub">Intelligent Interior Care!</p>
            <div fxLayout="row" fxLayoutGap="16px">                
                <mat-form-field class="select-loc" floatLabel="never">
                    <mat-select placeholder="Select city">
                        <mat-option *ngFor="let city of cities" [value]="city.value">
                            {{city.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field floatLabel="never" class="search-text">
                    <input type="text" matInput placeholder="Search for a service">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="carousel-wrap service-hlist-wrap">    
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideHListConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let item of serviceItems" class="slide" (click)="openServiceBookDlg(item.id)">
                <div fxLayout="column" class="service-hlist-item" fxLayoutAlign="center center" width="100%">
                    <span class="service-icon" [style.backgroundImage]="getBackground(item.imageUrl)"></span>
                    <span class="service-name">{{ item.catName }}</span>
                </div>
            </div>
        </ngx-slick>
    </div>
</div>
<div class="home-content-wrap">    
    <div class="carousel-wrap">    
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick>
    </div>
    <div class="carousel-wrap">    
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick>
    </div>
    <div class="carousel-wrap">    
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick>
    </div>
    <div class="carousel-wrap">    
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick>
    </div>
    <div class="carousel-wrap">    
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                    <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick>
    </div>
</div>  