.carousel-wrap {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;
    .carousel-header {
        padding-left: 6px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 500;
        color: #020202;
    }
    &.service-hlist-wrap {
        max-width: 100%;
        width: 100%;
        padding-bottom: 0;
        background-color: rgba(77, 77, 77, 0.5);
        height: 130px;
        .slick-slider {
            max-width: 60%;
            height: 100%;
            margin: 0 auto;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                    .slick-slide {
                        height: 100%;
                        .service-hlist-item {
                          height: 90px!important;
                          width: 90px!important;
                          padding: 4px 0;
                          border-radius: 4.8px!important;
                          background-color: #fff!important;
                          -webkit-box-shadow: 0 2px 5px 0 rgba(193,193,193,.5)!important;
                          box-shadow: 0 2px 5px 0 rgba(193,193,193,.5)!important;
                          -webkit-transition: .2s ease-out!important;
                          transition: .2s ease-out!important;
                            &:hover {
                                opacity: 1;
                                transform: scale(1.05);
                            }
                            .service-icon {
                              width: 52px;
                              height: 52px;
                              background-size: contain;
                              background-repeat: no-repeat;
                              background-position: center center;
                              margin-bottom: 8px;
                              box-sizing: border-box;
                              flex: 1 1 100%;
                              -webkit-box-flex: 1;
                              margin-bottom: 7px;
                              display: flex;
                              flex-direction: column;
                              -webkit-box-orient: vertical;
                              -webkit-box-direction: normal;
                              place-content: center flex-end;
                              align-items: center;
                              -webkit-box-pack: end;
                              -webkit-box-align: center;
                              max-height: 60%;
                            }
                            .service-name {
                              font-size: 10px;
                              font-weight: 400;
                              font-style: normal;
                              font-stretch: normal;
                              line-height: 1.2;
                              letter-spacing: 1.2px;
                              text-align: center;
                              text-transform: uppercase;
                              white-space: initial;
                              width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.banner-wrap {
    background-image: url("/assets/img/title_image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 520px;
    .search-wrap {
        background-color: rgba(77,77,77,.5);
        align-items: center;
        justify-content: center;
        height: calc(100% - 130px);
        p {
            color: #fff;
            margin: 0;
            font-weight: 500;
            &.p-prime {
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
            }
            &.p-sub {
                font-size: 40px;
                margin: 8px 0 20px;
                text-transform: capitalize;
            }
        }
        .mat-raised-button {
            &.btn-search-serv {
                height: 50px;
                line-height: 1;
            }
        }
        .mat-form-field {
            width: 170px;
            height: 48px;
            margin-top: 0;
            background-color: #fff;
            box-shadow: none;
            border: 1px solid transparent;
            padding: 0 8px;
            line-height: 16px;
            border-radius: 4px;
            .mat-form-field-underline {
                display: none;
            }
            .mat-form-field-wrapper {
                .mat-form-field-infix {
                    margin-top: -4px;
                }
            }
            &.select-loc {
                background-color: rgba(243, 243, 243, 1);
                .mat-select {
                    .mat-select-value {
                        &:before {
                            font-family: "Material Icons";
                            text-rendering: optimizeLegibility;
                            font-feature-settings: 'liga' 1;
                            font-style: normal;
                            text-transform: none;
                            line-height: 12px;
                            font-size: 16px;
                            width: 18px;
                            height: 18px;
                            display: inline-block;
                            overflow: hidden;
                            -webkit-font-smoothing: antialiased;
                            content: "navigation";
                            transform: rotate(45deg);
                            vertical-align: middle;
                            margin-right: 4px;
                        }
                        .mat-select-placeholder {
                            display: none;
                        }
                    }
                }
                .mat-form-field-label-wrapper {
                    left: 24px;
                    width: calc(100% - 24px);
                }
            }
            &.search-text {
                width: 420px;
                .mat-form-field-suffix {
                    .mat-icon {
                        vertical-align: middle;
                        height: 30px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.home-content-wrap {
    padding: 32px 20px 0;
}

#searchWrap {
    &.fixed {
        position: fixed;
        top: 7px;
        z-index: 2;
        .mat-form-field {
            border-color: #c1c1c1;
            &.select-loc {
                background-color: #fff;
            }
        }
    }
}

@media (max-width: 768px) {
    .content-wrapper {
        .banner-wrap {
            background: transparent;
            height: 606px;
            height: 100%;
            .search-wrap {
                background: #000;
                padding: 0 8px;
                height: 390px;
                .p-sub {
                    font-size: 32px;
                }
                .search-text {
                    width: 90vw;
                    max-width: 300px;
                }                
            }
            .carousel-wrap.service-hlist-wrap {
                background: #fff;
                height: 216px;
                height: 100%;
                .service-cat-list-mob {
                    flex-wrap: wrap;
                    .service-cat-list-item {
                        width: 33.3%;
                        height: 108px;
                        border: 1px solid #eee;
                        .service-icon {
                            width: 36px;
                            height: 36px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            margin-bottom: 8px;
                            box-sizing: border-box;
                            flex: 1 1 100%;
                            -webkit-box-flex: 1;
                            margin-bottom: 7px;
                            display: flex;
                            flex-direction: column;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            place-content: center flex-end;
                            align-items: center;
                            -webkit-box-pack: end;
                            -webkit-box-align: center;
                            max-height: 60%;
                        }
                        .service-name {
                            font-size: 10px;
                            font-weight: 400;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: 1.2;
                            letter-spacing: 1.2px;
                            text-align: center;
                            text-transform: uppercase;
                            white-space: initial;
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}

.mat-autocomplete-panel {
    &.ac-search {
        width: 438px;
        margin-top: 4px;
        .mat-option {
            &:not(:last-of-type) {
                border-bottom: 1px solid #eee;
            }
            .option-search {
                align-items: center;
                .service-icon {
                    width: 28px;
                    height: 28px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }
    }
}
