<div class="banner-wrap" [ngClass]="{'bwrap-mob': commonService.getViewPort() === 'mobile'}">
    <div fxLayout="row" class="search-wrap">
        <div fxLayout="column" fxLayoutAlign="baseline start">
            <!-- <p class="p-prime">Novowash presents</p>
            <p class="p-sub">Intelligent Interior Care!</p> -->
            <div class="logo_on_search"></div>
            <div fxLayout="row" fxLayoutGap="16px" id="searchWrap">
                <mat-form-field floatLabel="never" class="search-text">
                    <input type="text" placeholder="What are you looking for?"
                        matInput [matAutocomplete]="auto"
                        #txtSearch autocomplete="off" (keyup)="getSearchResult(txtSearch.value)">
                    <!-- <mat-icon matSuffix>keyboard_arrow_down</mat-icon> -->
                    <mat-autocomplete #auto="matAutocomplete" [class]="'ac-search'"
                        (optionSelected)="onSearchItemClicked($event);" [displayWith]="displayWithSearch">
                    <mat-option *ngFor="let option of filteredOptions" [value]="option">
                        <div fxLayout="row" fxLayoutGap="10px" class="option-search">
                            <span class="service-icon" [style.backgroundImage]="getBackground(option.imageUrl)"></span>
                            <span class="option-title">{{ option.serviceName }}</span>
                        </div>
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="categories-content-wrap">
    <div class="carousel-wrap service-hlist-wrap">
        <h4 class="carousel-header">Our Categories</h4>
        <ng-container *ngIf="commonService.getViewPort() === 'mobile' else nrmlTmplSlist">
            <div class="service-cat-list-mob" fxLayout="row">
                <div class="service-cat-list-item" fxLayout="column" fxLayoutAlign="center center"
                    *ngFor="let item of serviceItems" (click)="openServiceBookDlg(item.id, item.catName)">
                    <span class="service-icon" [style.backgroundImage]="getBackground(item.imageUrl)"></span>
                    <span class="service-name">{{ item.catName }}</span>
                </div>
            </div>
            <ng-container *ngIf="recommendedServiceItems?.length">
                <h4 class="carousel-header">Recommended Services</h4>
                <div class="service-cat-list-mob" fxLayout="row">
                    <div class="service-cat-list-item" fxLayout="column" fxLayoutAlign="center center"
                        *ngFor="let item of recommendedServiceItems" (click)="openRecommendedServiceBookDlg(item)">
                        <span class="service-icon" [style.backgroundImage]="getBackground(item.imageUrl)"></span>
                        <span class="service-name">{{ item.serviceName }}</span>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="packageItems?.length">
                <h4 class="carousel-header">Packages</h4>
                <div class="service-cat-list-mob" fxLayout="row">
                    <div class="service-cat-list-item" fxLayout="column" fxLayoutAlign="center center"
                        *ngFor="let item of packageItems" (click)="openPackageBookDlg(item.id, item.packageName, item.packageDesc)">
                        <span class="service-icon" [style.backgroundImage]="getBackground(item.imageUrl)"></span>
                        <span class="service-name">{{ item.packageName }}</span>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #nrmlTmplSlist>
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideHListConfig" (afterChange)="afterChange($event)">
                <div ngxSlickItem *ngFor="let item of serviceItems" class="slide" (click)="openServiceBookDlg(item.id, item.catName)">
                    <div fxLayout="column" class="service-hlist-item" fxLayoutAlign="center center" width="100%">
                        <span class="service-icon" [style.backgroundImage]="getBackground(item.imageUrl)"></span>
                        <span class="service-name">{{ item.catName }}</span>
                    </div>
                </div>
            </ngx-slick>
        </ng-template>
    </div>
</div>
<div class="home-content-wrap">
    <ng-container *ngIf="commonService.getViewPort() !== 'mobile'">
        <div class="carousel-wrap" *ngIf="recommendedServiceItems?.length">
            <h4 class="carousel-header">Recommended Services</h4>
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
                <div ngxSlickItem *ngFor="let slide of recommendedServiceItems" class="slide with-bg"
                    (click)="openRecommendedServiceBookDlg(slide)">
                   <!--  <div class="slide-item" fxLayout="row">
                        <span class="text-center">{{ slide.serviceName }}</span>
                    </div> -->
                  <ng-container *ngIf="(slide.imageUrl && slide.imageUrl !== 'null') else noPImgTmpl">
                      <div fxLayout="column">
                          <img src="{{ slide.imageUrl }}" alt="" width="100%">
                          <span class="text-center">{{ slide.serviceName }}</span>
                        </div>
                    </ng-container>
                    <ng-template #noPImgTmpl>
                        <div class="slide-item" fxLayout="row">
                            <span>{{ slide.serviceName }}</span>
                        </div>
                    </ng-template>
                </div>
            </ngx-slick>
        </div>
        <div class="carousel-wrap" *ngIf="packageItems?.length">
            <h4 class="carousel-header">Packages</h4>
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
                <div ngxSlickItem *ngFor="let slide of packageItems" class="slide with-bg"
                    (click)="openPackageBookDlg(slide.id, slide.packageName , slide.packageDesc)">
                    <ng-container *ngIf="(slide.imageUrl && slide.imageUrl !== 'null') else noPImgTmpl">
                      <div fxLayout="column">
                        <img src="{{ slide.imageUrl }}" alt="" width="100%">
                        <span class="text-center">{{ slide.packageName }}</span>

                      </div>
                    </ng-container>
                    <ng-template #noPImgTmpl>
                        <div class="slide-item" fxLayout="row">
                            <span class="text-center">{{ slide.packageName }}</span>
                        </div>
                    </ng-template>
                </div>
            </ngx-slick>
        </div>
    </ng-container>
    <div class="carousel-wrap">
        <h4 class="carousel-header">Offers</h4>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideOffersConfig" (afterChange)="afterChange($event)">
          <div ngxSlickItem *ngFor="let slide of commonService.getViewPort() === 'mobile' ? mobileOffer : offers   " class="slide">
            <img src="{{ slide.img }}" alt="" width="100%">
          </div>
         </ngx-slick>
    </div>
    <div class="separator-1"></div>
    <div class="carousel-wrap">
        <h4 class="carousel-header">Customer Reviews</h4>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideCRConfig" (afterChange)="afterChange($event)">
            <div ngxSlickItem *ngFor="let review of reviews" class="slide">
                <div class="slide-item si-cust-review" fxLayout="column">
                    <div class="user-info" fxLayout="row">
                        <div class="user-pic" [style.backgroundImage]="getBackground(review.user.imageUrl)"></div>
                        <span class="user-name">{{ review.user.name }}</span>
                    </div>
                    <p class="review-message">
                        {{ review.message }}
                    </p>
                    <div class="in-review-separator"></div>
                    <span class="hired-header">Service Booked</span>
                    <div class="bservice-info" fxLayout="row">
                        <div class="bservice-pic" [style.backgroundImage]="getBackground(review.bservice.imageUrl)"></div>
                        <div class="bservice-detail" fxLayout="column">
                            <span class="bservice-name">{{ review.bservice.name }}</span>
                            <span class="bservice-star">
                                {{ review.bservice.rating }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick>
    </div>
</div>
<div class="spacer" style="height: 12px;"></div>
