.carousel-wrap {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 32px;
    .carousel-header {
        padding-left: 6px;
    }
    &.service-hlist-wrap {
        max-width: 100%;
        width: 100%;
        padding-bottom: 0;
        background-color: #f4f4f4;
        height: 130px;
        .slick-slider {
            max-width: 96%;
            height: 100%;
            margin: 0 auto;
            .slick-list {
                height: 100%;
                .slick-track {
                    height: 100%;
                    .slick-slide {
                        height: 100%;
                        .service-hlist-item {
                            opacity: 0.6;
                            height: 100%;
                            cursor: pointer;
                            &:hover {
                                opacity: 1;
                            }
                            .service-icon {
                                width: 52px;
                                height: 52px;
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: center center;
                                margin-bottom: 8px;
                            }
                            .service-name {
                                color: #000;
                                font-weight: 400;
                                line-height: normal;
                                font-size: 14px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
.banner-wrap {
    background-image: url("/assets/img/title_image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 520px;
    .search-wrap {
        background-color: rgba(77,77,77,.5);
        align-items: center;
        justify-content: center;
        height: calc(100% - 130px);
        p {
            color: #fff;
            margin: 0;
            font-weight: 500;
            &.p-prime {
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
            }
            &.p-sub {
                font-size: 40px;
                margin: 8px 0 20px;
                text-transform: capitalize;
            }
        }
        .mat-form-field {
            width: 170px;
            height: 54px;
            margin-top: 0;
            background-color: #fff;
            box-shadow: none;
            border: none;
            padding: 0 8px;
            line-height: 16px;
            border-radius: 4px;
            .mat-form-field-underline {
                display: none;
            }
            &.select-loc {
                background-color: rgba(243, 243, 243, 1);
                .mat-select {
                    .mat-select-value {
                        &:before {
                            font-family: "Material Icons";
                            text-rendering: optimizeLegibility;
                            font-feature-settings: 'liga' 1;
                            font-style: normal;
                            text-transform: none;
                            line-height: 12px;
                            font-size: 16px;
                            width: 18px;
                            height: 18px;
                            display: inline-block;
                            overflow: hidden;
                            -webkit-font-smoothing: antialiased;
                            content: "navigation";
                            transform: rotate(45deg);
                            vertical-align: middle;
                            margin-right: 4px;
                        }
                        .mat-select-placeholder {
                            display: none;
                        }
                    }
                }
                .mat-form-field-label-wrapper {
                    left: 24px;
                    width: calc(100% - 24px);
                }
            }
            &.search-text {
                width: 320px;
            }
        }
    }
}
.home-content-wrap {
    padding: 32px 20px 0;
}