.slick-slider {
    .slick-arrow {
        width: 24px;
        height: 24px;
        display: none;
        &:before {
            font-family: "Material Icons";
            text-rendering: optimizeLegibility;
            font-feature-settings: 'liga' 1;
            font-style: normal;
            text-transform: none;
            line-height: 26px;
            font-size: 24px;
            width: 24px;
            height: 24px;
            display: inline-block;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;
            color: $accent-color;
        }
        &.slick-prev {
            &:before {
                content: "arrow_drop_down_circle";
                transform: rotate(90deg);
            }
        }
        &.slick-next {
            &:before {
                content: "arrow_drop_down_circle";
                transform: rotate(-90deg);
            }
        }
    }
    .slick-dots {
        bottom: -30px;
        li {
            button {
                &:before {
                    font-size: 32px;
                }
            }
        }
    }
    .slick-list {
        .slick-track {
            .slide {
                &.slick-slide {
                    margin: 0 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-height: 120px;
                    cursor: pointer;
                    &.with-bg {
                        background-color: aliceblue;
                    }
                    &.with-bg-r {
                        background-color: rgba(0, 139, 139, .2);
                    }
                    .slide-item {
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }
    }
}