<div class="beapartner-wrap">
    <div fxLayout="column" class="beapartner-content-wrap">
        <div class="form-section">
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px" fxLayoutGap.lt-sm="40px">
                <div class="sec-form-left" fxFlex="1 1 60%" fxFlex.lt-sm="1 1 100%" fxLayout="column">
                    <span class="caption">Expand Business</span>
                    <span class="caption">Increase Earnings!</span>
                </div>
                <div class="sec-form-right" fxFlex="1 1 40%" fxFlex.lt-sm="1 1 100%">
                    <h2 class="sec-header">Become a Novowash Partner within minutes</h2>
                    <form [formGroup]="partnerForm" novalidate>
                        <div fxLayout="column" fxLayoutGap="12px" class="form-el-wrap">
                            <mat-form-field appearance="outline">
                                <mat-label>Select your service*</mat-label>
                                <input type="text" placeholder="Type to find your service..."
                                    matInput [matAutocomplete]="auto" formControlName="service" novalidate
                                    #txtSearch autocomplete="off" (keyup)="getSearchResult(txtSearch.value)">
                                    <mat-error *ngIf="(partnerForm.controls['service'].errors | firstKey) ==='required' && partnerForm.controls['service'].touched">
                                        Service is required
                                    </mat-error>
                                <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
                                <mat-autocomplete #auto="matAutocomplete" [class]="'ac-search'"
                                    (optionSelected)="onSearchItemClicked($event);" [displayWith]="displayWithSearch">
                                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                                    <div fxLayout="row" fxLayoutGap="10px" class="option-search">
                                        <span class="service-icon" [style.backgroundImage]="getBackground(option.imageUrl)"></span>
                                        <span class="option-title">{{ option.serviceName }}</span>
                                    </div>
                                </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Name*</mat-label>
                                <input type="text" matInput placeholder="Your name" formControlName="name" novalidate>
                                <mat-error *ngIf="(partnerForm.controls['name'].errors | firstKey) ==='required' && partnerForm.controls['name'].touched">
                                    Name is required
                                </mat-error>
                                <mat-error *ngIf="(partnerForm.controls['name'].errors | firstKey) === 'pattern' && partnerForm.controls['name'].touched">
                                    Please enter a valid name
                                </mat-error>
                            </mat-form-field>
                            <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="12px">
                                <mat-form-field floatLabel="never">
                                    <input type="email" matInput placeholder="Email" formControlName="email" novalidate>
                                    <mat-error *ngIf="(partnerForm.controls['email'].errors | firstKey) ==='required' && partnerForm.controls['email'].touched">
                                        Email is required
                                    </mat-error>
                                    <mat-error *ngIf="(partnerForm.controls['email'].errors | firstKey) ==='pattern' && partnerForm.controls['email'].touched">
                                        Not a valid email id
                                    </mat-error>
                                </mat-form-field>
                            </div> -->
                            <mat-form-field appearance="outline">
                                <mat-label>Mobile Number*</mat-label>
                                <input type="tel" matInput placeholder="Your 10-digit mobile number" formControlName="number" novalidate>
                                <mat-error *ngIf="(partnerForm.controls['number'].errors | firstKey) ==='required' && partnerForm.controls['number'].touched">
                                    Mobile number is required
                                </mat-error>
                                <mat-error *ngIf="(partnerForm.controls['number'].errors | firstKey) === 'invalidNumber' && partnerForm.controls['number'].touched">
                                    Not a valid contact number
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button color="primary" (click)="submitPartnerForm()" [disabled]="partnerForm.invalid">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="why-section">
            <div fxLayout="column" fxLayoutGap="8px">
                <div class="sec-why-content" fxFlex="1 1 100%">
                    <h2 class="sec-header">Why Us?</h2>
                    <div class="why-img-wrap" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="12px">
                      <div fxLayout="column">
                        <div class="why-img one"></div>
                      <span class="span_text">Increased Visibility and New Customers</span>
                      </div>
                      <div fxLayout="column">
                        <div class="why-img two"></div>
                        <span class="span_text">Flexibility to choose your order</span>
                      </div>
                      <div fxLayout="column">
                        <div class="why-img three"></div>
                        <span class="span_text">CRM Suit: Track, monitor your orders</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="request-section">
            <div fxLayout="column" fxLayoutGap="8px">
                <div class="sec-request-content" fxFlex="1 1 100%" fxLayout="column" fxLayoutGap="58px">
                    <h2 class="sec-header">How to accept requests?</h2>
                    <div class="request-block-wrap rbw-1" fxLayout="row" fxLayout.lt-sm="column">
                        <div class="request-left-sec" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%">
                            <div class="img-left"></div>
                        </div>
                        <div class="request-right-sec" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%">
                            <div class="request-text-block" fxLayout="column">
                                <span class="text">
                                    Log in and Accept: Just log on to your account and accept orders which are sent to you.
                                    You will have a limited time to accept the bookings.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="request-block-wrap rbw-2" fxLayout="row" fxLayout.lt-sm="column">
                        <div class="request-left-sec" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%">
                            <div class="img-left"></div>
                        </div>
                        <div class="request-right-sec" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%">
                            <div class="request-text-block" fxLayout="column">
                                <span class="text">
                                    Choose requests on your terms: Check your schedule, availibility and accept
                                    only those requests which suit your business requirements.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="request-block-wrap rbw-3" fxLayout="row" fxLayout.lt-sm="column">
                        <div class="request-left-sec" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%">
                            <div class="img-left"></div>
                        </div>
                        <div class="request-right-sec" fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%">
                            <div class="request-text-block" fxLayout="column">
                                <span class="text">
                                    Instant Payment: Finish your service and get instant payment in your account!
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
