/* itn primary */
$md-itnprimary: (
  50 : #f2f9e9,
  100 : #ddf1c8,
  200 : #0c21dc,
  300 : #b1de80,
  400 : #a0d764,
  500 : #0C21DC,
  600 : #87cb42,
  700 : #7cc439,
  800 : #72be31,
  900 : #60b321,
  A100 : #f4ffed,
  A200 : #d6ffba,
  A400 : #b7ff87,
  A700 : #a8ff6e,
  contrast: (
    10 : #FAFAFA,
    30 : #EEF1F1,
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* itn secondary */
$md-itnsecondary: (
  10 : #FAFAFA,
  30 : #EEF1F1,
  50 : #e8ebed,
  100 : #c5ced1,
  200 : #9faeb3,
  300 : #788d94,
  400 : #5b747d,
  500 : #3e5c66,
  600 : #38545e,
  700 : #304a53,
  800 : #284149,
  900 : #1b3038,
  A100 : #7bdaff,
  A200 : #48ccff,
  A400 : #15beff,
  A700 : #00b5fb,
  contrast: (
    30 : #003237,
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
