<div class="containerX" >
    <div fxLayout="row" class="dialog-header">
        <!-- <button mat-icon-button class="close-sidenav-flat"
            (click)="slide=(slide-1); backButtonClicked()" *ngIf="slide > 1">
            <mat-icon>arrow_back</mat-icon>
        </button> -->
        <div fxFlex="flex">
            <h5 *ngIf="slide === 1">When do you want the service?</h5>
            <h5 *ngIf="slide === 2">Where do you want the service?</h5>
            <h5 *ngIf="slide === 3">Please enter your contact details</h5>
        </div>
        <div fxFlex="none">
            <button mat-icon-button class="close-icon" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="booking-dialog-wrap bd-wrap-date-time">
    <div mat-dialog-content>
        <!-- slide 1 -->
        <div class="containerX dialog-container" *ngIf="slide === 1"
            [ngClass]="{'sidenav-fi': slide === 1, 'sidenav-fo': slide !== 1}">
            <div fxLayout="column" class="bd-content-1-wrap" fxLayout="column" fxLayoutGap="24px" *ngIf="dateTimeSlots && dateTimeSlots.length">
                <span class="spacer"></span>
                <label class="lbl-date-time date">Select date for service</label>
                <div fxLayout="row" class="date-time-box-wrap date" fxLayoutGap="12px">
                    <div class="date-time-box" *ngFor="let dateTimeSlot of dateTimeSlots; let i = index"
                        [ngClass]="{'selected': (selectedDateTimeIndex && i === selectedDateTimeIndex[0]), 'blocked': dateTimeSlot.isBlocked}"
                        (click)="selectDateIndex(i)">
                        <!-- <span class="sub-text">{{ dateTimeSlot.dateText[0] }}</span> -->
                        <div class="date-box">
                        <span class="day-text">{{ dateTimeSlot.dayText}}</span>
                        <span class="date">{{ dateTimeSlot.dateText }}</span>
                      </div>
                    </div>
                </div>
                <span class="spacer"></span>
                <label class="lbl-date-time">Select time slots</label>
                <div fxLayout="row" class="date-time-box-wrap" fxLayoutGap="20px">
                    <div class="date-time-box time-box" *ngFor="let timeSlot of dateTimeSlots[selectedDateIndex]?.timeSlots; let j = index"
                        [ngClass]="{'selected': (selectedDateTimeIndex && j === selectedDateTimeIndex[1]), 'blocked': timeSlot.isBlocked}"
                        (click)="selectTimeIndex(j)">
                        <span>{{ timeSlot.text }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- slide 2 -->
        <div class="containerX dialog-container" *ngIf="slide === 2"
            [ngClass]="{'sidenav-fi': slide === 2, 'sidenav-fo': slide !== 2}">
            <form [formGroup]="addressForm" novalidate>
                <div class="bd-content-1-wrap" fxLayout="column" fxLayoutGap="32px">
                    <!-- <h3>Where do you require the service?</h3> -->
                    <!-- <span class="spacer"></span> -->
                    <span class="spacer"></span>
                    <mat-form-field fxFlex="1 1 100%" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="addressLine" required type="text">
                        <mat-error *ngIf="(addressForm.controls.addressLine.errors | firstKey) === 'required' && addressForm.controls['addressLine'].touched">
                            Address is required
                        </mat-error>
                    </mat-form-field>
                    <!-- <span class="spacer" class="spacer-addr-1"></span> -->
                    <mat-form-field fxFlex="1 1 100%" appearance="outline">
                        <mat-label>Landmark (optional)</mat-label>
                        <input matInput formControlName="landmark" type="text">
                    </mat-form-field>
                    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="24px">
                        <mat-form-field fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%" appearance="outline">
                            <mat-label>City</mat-label>
                            <mat-select required formControlName="city">
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                {{ city.viewValue }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="(addressForm.controls.city.errors | firstKey) === 'required' && addressForm.controls['city'].touched">
                                City is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="1 1 50%" fxFlex.lt-sm="1 1 100%" appearance="outline">
                            <mat-label>PIN Code</mat-label>
                            <input matInput formControlName="pincode" required type="text">
                            <mat-error *ngIf="(addressForm.controls.pincode.errors | firstKey) === 'required' && addressForm.controls['pincode'].touched">
                                PIN Code is required
                            </mat-error>
                            <mat-error *ngIf="(addressForm.controls.pincode.errors | firstKey) === 'pattern' && addressForm.controls['pincode'].touched">
                                Entered PIN Code is invalid
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>

        <!-- slide 3 -->
        <div class="containerX dialog-container" *ngIf="slide === 3"
            [ngClass]="{'sidenav-fi': slide === 3, 'sidenav-fo': slide !== 3}">
            <form [formGroup]="userForm" novalidate>
                <div class="bd-content-1-wrap" fxLayout="column" fxLayoutGap="32px">
                    <!-- <h3>Please enter your contact details</h3> -->
                    <!-- <span class="spacer"></span> -->
                    <span class="spacer"></span>
                    <mat-form-field>
                        <span matPrefix>+91 &nbsp;</span>
                        <input type="tel" matInput placeholder="Mobile Number" formControlName="number" novalidate>
                        <mat-error *ngIf="(userForm.controls['number'].errors | firstKey) ==='required' && userForm.controls['number'].touched">
                            Mobile number is required
                        </mat-error>
                        <mat-error *ngIf="(userForm.controls['number'].errors | firstKey) === 'invalidNumber' && userForm.controls['number'].touched">
                            Please enter a valid mobile number
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" formControlName="email" novalidate>
                        <mat-error *ngIf="(userForm.controls['email'].errors | firstKey) ==='required' && userForm.controls['email'].touched">
                            Email ID is required
                        </mat-error>
                        <mat-error *ngIf="(userForm.controls['email'].errors | firstKey) === 'invalidNumber' && userForm.controls['email'].touched">
                            Please enter a valid email ID
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <span fxFlex></span>
        <ng-container *ngIf="slide === 1">
            <!-- <button mat-raised-button class="btn-p-proceed"
                [color]="(selectedDateTimeIndex && selectedDateTimeIndex[0] >= 0 && selectedDateTimeIndex[1] >= 0) ? 'primary' : ''"
                (click)="proceedToUser()" [disabled]="!(selectedDateTimeIndex && selectedDateTimeIndex[0] >= 0 && selectedDateTimeIndex[1] >= 0)">
                <span class="fill-remaining-space"></span>
                <span class="spn-text">Continue with selected slot</span>
                <mat-icon>arrow_forward</mat-icon>
            </button> -->
            <button mat-raised-button class="btn-p-next" color="primary" (click)="proceedToSlide2()"
                [disabled]="!(selectedDateTimeIndex && selectedDateTimeIndex[0] >= 0 && selectedDateTimeIndex[1] >= 0)">
                Next
            </button>
        </ng-container>
        <ng-container *ngIf="slide === 2">
            <!-- <button mat-raised-button class="btn-p-proceed" [color]="addressForm.invalid ? '' : 'primary'"
                (click)="proceedToSlide2()" [disabled]="addressForm.invalid">
                <span class="fill-remaining-space"></span>
                <span class="spn-text">Continue with this address</span>
                <mat-icon>arrow_forward</mat-icon>
            </button> -->
            <button mat-raised-button class="btn-p-back"
                (click)="slide=1" *ngIf="!isForPackage">
                Back
            </button>
            <button mat-raised-button class="btn-p-next" color="primary"
                (click)="proceedToUser()" [disabled]="addressForm.invalid">
                Next
            </button>
        </ng-container>
        <ng-container *ngIf="slide === 3">
            <!-- <button mat-raised-button class="btn-p-proceed" [color]="userForm.invalid ? '' : 'primary'"
                (click)="submitDateUserDetails()" [disabled]="userForm.invalid">
                <span class="fill-remaining-space"></span>
                <span class="spn-text">Proceed to summary</span>
                <mat-icon>arrow_forward</mat-icon>
            </button> -->
            <button mat-raised-button class="btn-p-back"
                (click)="slide=2">
                Back
            </button>
            <button mat-raised-button class="btn-p-next" color="primary"
                (click)="submitDateUserDetails()" [disabled]="userForm.invalid">
                Next
            </button>
        </ng-container>
    </div>
</div>
