<div class="containerX" >
    <div fxLayout="row" class="dialog-header">
        <div fxFlex="flex">
            <h5>Booking Summary</h5>
        </div>
        <div fxFlex="none">
            <button mat-icon-button class="close-icon" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="booking-dialog-wrap bd-wrap-summary">
    <div mat-dialog-content>
        <div class="containerX dialog-container">
            <div class="bd-content-1-wrap" fxLayout="column" fxLayoutGap="8px">
                <!-- service details -->
                <div class="summary-sec" fxLayout="column">
                    <span class="header">Selected Service</span>
                    <span class="text">{{ selectedServices?.mainService?.catName }}</span>
                    <span class="text sub">{{ selectedServices?.subService?.serviceName }}</span>
                </div>
                <!-- time slot -->
                <div class="summary-sec" fxLayout="column">
                    <span class="header">Selected Time Slot</span>
                    <span class="text">
                        Between {{ selectedServices?.dateUserDetails?.time }} on {{ selectedServices?.dateUserDetails?.date }}
                    </span>
                </div>
                <!-- address -->
                <span class="summary-sec" fxLayout="column">
                    <span class="header">Service Required At</span>
                    <span class="text">
                        {{ selectedServices?.dateUserDetails?.address?.addressLine }}
                    </span>
                    <span class="text" *ngIf="dateUserDetails?.address?.landmark">
                        {{ selectedServices?.dateUserDetails?.address?.landmark }}
                    </span>
                    <span class="text">
                        {{ selectedServices?.dateUserDetails?.city }} - {{ selectedServices?.dateUserDetails?.address?.pincode }}
                    </span>
                </span>
                <!-- contact -->
                <div class="summary-sec" fxLayout="column">
                    <span class="header">Contact Details</span>
                    <span class="text">{{ ropcService?.user?.mobile_number }}</span>
                    <span class="text">{{ selectedServices?.dateUserDetails?.contactDetails?.email }}</span>
                </div>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="amount-wrap">
            <span class="amount">Rs. {{ selectedServices?.totalAmount | number }}</span>
        </div>
        <span fxFlex></span>
        <button mat-raised-button class="btn-p-next" color="primary"
            (click)="submitSummary()">
            Proceed to Pay
        </button>
        <!-- <span fxFlex></span>
        <button cdkFocusRegionstart mat-raised-button class="btn-p-proceed" color="primary"
            (click)="submitSummary()">        
            <span class="spn-amount">Rs. {{ selectedServices?.totalAmount | number }}</span>
            <span class="fill-remaining-space"></span>
            <span class="spn-text">Proceed to Pay</span>
            <mat-icon>arrow_forward</mat-icon>
        </button> -->
    </div>
</div>