.dialog-panel-booking {
    max-width: 640px !important;
    .mat-dialog-container {
        .booking-dialog-wrap {
            .mat-dialog-content {
                min-height: 440px;
                max-height: 440px;
                display: flex;
                flex: 1 1 100%;
                .dialog-container {
                    padding: 0;
                    flex: 1 1 100%;
                    max-height: inherit;
                    .bd-content-1-wrap {
                        color: #464646;
                        max-height: inherit;
                        overflow: hidden;
                        & > * {
                            max-height: inherit;
                            overflow: auto;
                        }
                        .bd-service-list {
                            // height: 100%;
                            flex: 1 1 220px;
                            background-color: #f4f4f4;
                            // border-right: 1px solid #eee;
                            // box-shadow: 0 0 4px 2px #eee;
                            .bd-service-list-item {
                                padding-right: 14px;
                                height: 66px;
                                align-items: center;
                                cursor: pointer;
                                .service-icon {
                                    height: 24px;
                                    width: 24px;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    margin: 0 20px 0 12px;
                                    margin-bottom: 4px;
                                    min-width: 24px;
                                    opacity:0.7;
                                }
                                &.selected {
                                    // background-color: #eeeeee;
                                    background-color: #fff;
                                    font-weight: 500;
                                    color: #343434;
                                    box-shadow: inset 4px 0 0 0 #000;
                                    .service-icon {
                                        opacity: 1;
                                    }
                                }
                                .service-name {
                                    &:first-child {
                                        padding-left: 16px;
                                    }
                                }
                            }
                            &.li-mh-60 {
                                .bd-service-list-item {
                                    min-height: 60px;
                                }
                            }
                        }
                        .bd-service-sub-list {
                            height: 100%;
                            flex: 1 1 70%;
                            &.bd-sub-bg {
                                padding: 12px;
                                background-color: #eee;
                            }
                            .bd-service-sub-list-item {
                                padding: 0 12px;
                                height: 42px;
                                align-items: center;
                                border-radius: 4px;
                                width: calc(100% - 40px);
                                margin: 0 auto;
                                &:first-of-type {
                                    margin-top: 10px;
                                }
                                &:last-of-type {
                                    margin-bottom: 10px;
                                }
                                cursor: pointer;
                                &:hover {
                                    // background-color: #eee;
                                    background-color: #222;
                                    color: #fff;
                                }
                                .service-icon {
                                    height: 24px;
                                    width: 24px;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    margin: 0 20px 0 12px;
                                    margin-bottom: 4px;
                                    min-width: 24px;
                                    opacity:0.7;
                                }
                            }
                        }
                        .date-time-box-wrap {
                            flex-wrap: wrap;
                            align-items: baseline;
                            .date-time-box {
                                width: 106px;
                                height: 64px;
                                border-radius: 4px;
                                display: inline-block;
                                border: 1px solid #bdbdbd;
                                cursor: pointer;
                                margin-bottom: 12px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                box-sizing: border-box;
                                &.time-box {
                                    height: 48px;
                                }
                                & > span {
                                    text-align: center;
                                }
                                .sub-text {
                                    color: #757575;
                                }
                            }
                        }
                    }
                }
            }
            &.dialog-sans-actions {
                .mat-dialog-content {
                    min-height: 500px;
                    max-height: 500px;
                }
            }
            .mat-dialog-actions {
                padding: 12px 28px !important;
                [mat-raised-button].mat-raised-button {
                    &.btn-p-proceed {
                        height: 48px;
                        font-size: 16px;
                        text-transform: capitalize;
                        width: 50%;
                        max-width: 290px;
                        .mat-button-wrapper {
                            display: flex;
                            align-items: center;
                            .mat-icon {
                                font-size: 18px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
            &.bd-wrap-date-time {
                .mat-dialog-content {
                    .dialog-container {
                        padding: 16px 38px;
                        h3 {
                            margin: 24px 0 0;
                            font-size: 24px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

.mat-card {
    &.card-package {
        padding: 0;
        .mat-card-header {
            .mat-card-header-text{
                width: 100%;
                margin: 0;
                & > * {
                    padding-left: 12px;
                    padding-right: 12px;
                }
                .mat-card-title {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    font-size: 1rem;
                    border-bottom: 1px solid #eee;
                }
                .mat-card-subtitle {
                    padding-top: 8px;
                }
            }
        }
        .mat-card-content {
            padding-left: 12px;
            padding-right: 12px;
            .mat-radio-group {
                &.rg-p-options {
                    display: flex;
                    flex-direction: column;
                    & > * {
                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }
                    }
                    .mat-radio-button {
                        &.rb-p-options {
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        .mat-card-actions {
            &:last-child {                
                margin: 0;
                border-top: 1px solid #eee;
                padding: 8px 12px;
                display: flex;
            }
        }
    }
}

.mat-menu-panel {
    &.menu-p-detail {
        pointer-events: none;
        background-color: #eee;
        .mat-menu-content {
            .menu-p-detail-content {
                padding: 0 12px;
                font-size: 12px;
                color: dimgrey;
                text-align: justify;
                & > p {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

.dialog-panel-booking .mat-dialog-container .booking-dialog-wrap {
    &.bd-wrap-summary {
        .mat-dialog-content {
            .dialog-container {
                max-height: unset;
            }
            .bd-content-1-wrap {
                padding: 0 16px;
                max-height: unset;
                .summary-sec {
                    padding: 12px 0;
                    & + .summary-sec {
                        border-top: 1px solid darkgray;
                    }
                    .header {
                        margin: 0 0 8px;
                        font-weight: bold;
                    }
                    .text {
                        margin: 4px 0;
                        font-size: 14px;
                        color: #5f5c5c;
                        &.sub {
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}