.dialog-panel-booking {
    max-width: 600px !important; // 640px !important;
    .mat-dialog-container {
        border-radius: 0 !important;
        .dialog-header {
            background-color: #534ae2;
            color: #fff;
            h5 {
                color: #fff;
            }
        }
        .booking-dialog-wrap {
            .mat-dialog-content {
                min-height: 440px;
                max-height: 440px;
                display: flex;
                flex: 1 1 100%;
                .dialog-container {
                    padding: 0;
                    flex: 1 1 100%;
                    max-height: inherit;
                    .bd-content-1-wrap {
                        color: #464646;
                        max-height: inherit;
                        overflow: hidden;
                        height: 100%;
                        & > * {
                            max-height: inherit;
                            overflow: auto;
                        }
                        .bd-service-list {
                            // height: 100%;
                            flex: 1 1 220px;
                            align-items: center;
                            // background-color: #f4f4f4;
                            // border-right: 1px solid #eee;
                            // box-shadow: 0 0 4px 2px #eee;
                            .bd-service-list-item {
                                // padding-right: 14px;
                                height: 46px; // 66px;
                                width: 160px; // 86%;
                                align-items: center;
                                justify-content: center;
                                // min-height: 66px;
                                border: 1px solid black;
                                cursor: pointer;
                                text-align: center;
                                font-size: 15px;
                                text-transform: capitalize;
                                &:first-of-type {
                                    margin-top: 20px;
                                }
                                &:last-of-type {
                                    margin-bottom: 20x;
                                }
                                .service-icon {
                                    height: 24px;
                                    width: 24px;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    margin: 0 20px 0 12px;
                                    margin-bottom: 4px;
                                    min-width: 24px;
                                    opacity:0.7;
                                }
                                &.selected {
                                    // background-color: #eeeeee;
                                    // background-color: #fff;
                                    // font-weight: 500;
                                    box-shadow: 2px 2px 10px -2px black;
                                    background-color: #f8e71c;
                                    border: 0;
                                    // color: #fff;
                                    // color: #343434;
                                    // box-shadow: inset 4px 0 0 0 #000;
                                    .service-icon {
                                        opacity: 1;
                                        filter: invert(100%);
                                    }
                                }
                                .service-name {
                                    // &:first-child {
                                    //     padding-left: 16px;
                                    // }
                                }
                            }
                            &.li-mh-60 {
                                .bd-service-list-item {
                                    min-height: 60px;
                                }
                            }
                        }
                        .right-wrap {
                            flex: 1 1 68%;
                            .right-header {
                                text-align: center;
                                margin: 32px 0;
                            }
                        }
                        .bd-service-sub-list {
                            flex-wrap: wrap;
                            // height: 100%;
                            justify-content: space-between;
                            padding: 30px;
                            &.bd-sub-bg {
                                padding: 12px;
                                background-color: #eee;
                            }
                            .sub-wrap {                                
                                .control-pm {
                                    border: 1px solid grey;
                                    border-radius: 4px;
                                    padding: 4px;
                                    align-items: center;
                                    justify-content: space-between;
                                    button.btn-control {
                                        background-color: #e9e8ea;
                                        box-shadow: none !important;
                                        &.plus {
                                            background-color: #f8e71c;
                                        }
                                    }
                                    .value {
                                        padding: 0 4px;
                                        min-width: 24px;
                                        text-align: center;
                                        font-size: 20px;
                                    }
                                    &.small {
                                        button.btn-control {
                                            width: 2rem !important;
                                            height: 2rem !important;
                                        }
                                        .value {
                                            padding: 0 4px;
                                            min-width: 20px;
                                            text-align: center;
                                            font-size: 16px;
                                        }
                                    }
                                }
                                .control-lr-pm {
                                    justify-content: space-between;
                                    align-items: center;
                                    .lr-label {
                                        text-align: center;
                                        flex: 1 1;
                                    }
                                }
                                .control-ud-pm {
                                    align-items: center;
                                    .service-icon {
                                        width: 36px;
                                        height: 36px;
                                        border-radius: 50%;
                                        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                                    }
                                    .ud-label {
                                        text-align: center;
                                        text-transform: capitalize;
                                        &.small {
                                            font-size: 12px;
                                        }
                                    }
                                }
                                .extra-wrap {
                                    max-width: 340px;
                                    flex-wrap: wrap;
                                }
                                &.mst2 {
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    .control-ud-pm {
                                        width: 148px;
                                        height: 128px;
                                        justify-content: center;
                                    }
                                }
                                &.mst5 {
                                    justify-content: center;
                                    .control-ud-pm {
                                        height: 164px;
                                    }
                                }
                                &.mstb1, &.mstb2, &.mstb3, &.mstb4 {
                                    .lbl-toggle {
                                        .btn-tg-booking {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                            .bd-service-sub-list-item {
                                // padding: 0 12px;
                                // height: 42px;
                                // align-items: center;
                                // border-radius: 4px;
                                // width: calc(100% - 40px);
                                // margin: 0 auto;
                                // &:first-of-type {
                                //     margin-top: 10px;
                                // }
                                // &:last-of-type {
                                //     margin-bottom: 10px;
                                // }
                                padding: 0 8px;
                                height: 120px; // 144px;
                                -ms-flex-align: center;
                                align-items: center;
                                justify-content: center;
                                margin: 12px 0;
                                cursor: pointer;
                                width: 130px; // 160px;
                                border-radius: 0;
                                box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, .4);
                                cursor: pointer;
                                .service-icon {
                                    height: 24px;
                                    width: 24px;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: center center;
                                    // margin: 0 20px 0 4px;
                                    margin-bottom: 4px;
                                    min-width: 24px;
                                    opacity:0.7;
                                    margin-bottom: 32px;
                                }
                                .service-name {
                                    text-align: center;
                                }
                                &:hover {
                                    // background-color: #eee;
                                    // background-color: #222;
                                    background-color: #fffcfc;
                                    // color: #fff;
                                    .service-icon {
                                        // -webkit-filter: invert(100%); /* Safari 6.0 - 9.0 */
                                        // filter: invert(100%);
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        .date-time-box-wrap {
                            flex-wrap: wrap;
                            align-items: baseline;
                            &.date {
                                padding-left: 20px;
                                padding-right: 20px;
                            }
                            .date-time-box {
                                // width: 121px;
                                // height: 64px;
                                // border-radius: 4px;
                                // display: inline-block;
                                // border: 1px solid #bdbdbd;
                                width: 44px;
                                height: 36px;
                                border-radius: 50%;
                                font-size: 20px;
                                cursor: pointer;
                                margin-bottom: 8px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                box-sizing: border-box;
                                &.selected {
                                    box-shadow: 2px 2px 10px -2px black;
                                    background-color: #f8e71c;
                                }
                                &.blocked {
                                    opacity: 0.3;
                                    cursor: not-allowed;
                                    pointer-events: none;
                                }
                                &.time-box {
                                    // height: 48px;
                                    // width: 164px;
                                    border: 1px solid grey;
                                    border-radius: 8px;
                                    width: 92px;
                                    font-size: 14px;
                                    height: 60px;
                                    justify-content: flex-start;
                                    padding-top: 12px;
                                    white-space: normal;
                                    background-color: #d8d8d8;
                                    &.selected {
                                        box-shadow: none;
                                        background-color: #f8e71c;
                                    }
                                }
                                & > span {
                                    text-align: center;
                                }
                                .sub-text {
                                    color: #757575;
                                }
                            }
                        }
                        .lbl-date-time {
                            font-size: 14px;
                            &.date {
                                margin-left: 24px;
                            }
                        }
                    }
                }
            }
            &.dialog-sans-actions {
                .mat-dialog-content {
                    min-height: 500px;
                    max-height: 500px;
                }
            }
            .mat-dialog-actions {
                padding: 12px 28px !important;
                [mat-raised-button].mat-raised-button {
                    &.btn-p-proceed {
                        height: 48px;
                        font-size: 16px;
                        text-transform: capitalize;
                        width: 50%;
                        max-width: 290px;
                        .mat-button-wrapper {
                            display: flex;
                            align-items: center;
                            .mat-icon {
                                font-size: 18px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
            &.bd-wrap-date-time {
                .mat-dialog-content {
                    .dialog-container {
                        padding: 16px 38px;
                        max-width: 100%;
                        box-sizing: border-box;
                        h3 {
                            margin: 24px 0 0;
                            font-size: 24px;
                            font-weight: 500;
                        }
                    }
                }
            }
            &.bd-wrap-booking-end {
                .mat-dialog-content {
                    .bd-content-1-wrap {
                        .be-header {
                            padding: 40px 0 28px;
                            .mat-icon {
                                font-size: 40px;
                                height: 40px;
                                width: 40px;
                            }
                            & > h3 {
                                font-size: 24px;
                                margin-top: 8px;
                            }
                            &.success {
                                color: green;
                            }
                            &.error {
                                color: red;
                            }
                        }
                        .be-content {
                            padding: 0 68px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}

.mat-card {
    &.card-package {
        padding: 0;
        .mat-card-header {
            .mat-card-header-text{
                width: 100%;
                margin: 0;
                & > * {
                    padding-left: 12px;
                    padding-right: 12px;
                }
                .mat-card-title {
                    padding-top: 16px;
                    padding-bottom: 16px;
                    font-size: 1rem;
                    border-bottom: 1px solid #eee;
                }
                .mat-card-subtitle {
                    padding-top: 8px;
                }
            }
        }
        .mat-card-content {
            padding-left: 12px;
            padding-right: 12px;
            .mat-radio-group {
                &.rg-p-options {
                    display: flex;
                    flex-direction: column;
                    & > * {
                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }
                    }
                    .mat-radio-button {
                        &.rb-p-options {
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        .mat-card-actions {
            &:last-child {                
                margin: 0;
                border-top: 1px solid #eee;
                padding: 8px 12px;
                display: flex;
            }
        }
    }
}

.mat-menu-panel {
    &.menu-p-detail {
        pointer-events: none;
        background-color: #eee;
        .mat-menu-content {
            .menu-p-detail-content {
                padding: 0 12px;
                font-size: 12px;
                color: dimgrey;
                text-align: justify;
                & > p {
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}

.dialog-panel-booking .mat-dialog-container .booking-dialog-wrap {
    &.bd-wrap-summary {
        .mat-dialog-content {
            .dialog-container {
                max-height: unset;
            }
            .bd-content-1-wrap {
                padding: 0 16px;
                max-height: unset;
                .summary-sec {
                    padding: 12px 0;
                    & + .summary-sec {
                        border-top: 1px solid darkgray;
                    }
                    .header {
                        margin: 0 0 8px;
                        font-weight: bold;
                    }
                    .text {
                        margin: 4px 0;
                        font-size: 14px;
                        color: #5f5c5c;
                        &.sub {
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}

.mat-button-toggle-group {
    &.btn-tg-booking {
        border-radius: 8px;
        box-shadow: none;
        border: 1px solid grey;
        flex: 1 1 100%;
        max-width: 360px;
        .mat-button-toggle {
            margin: -1px;
            color: inherit;
            flex: 1 1;
            border: 1px solid transparent;
            text-align: center;
            .mat-button-toggle-button {
                width: 100%;
                height: 100%;
                min-height: 36px;
                // padding: 8px;
                .mat-button-toggle-label-content {
                    padding: 8px;
                    max-width: 100%;
                    white-space: normal;
                    line-height: 18px;
                }
                &:hover {
                    background-color: transparent;
                }
            }
            .mat-button-toggle-focus-overlay {
                display: none !important;
            }
            &.mat-button-toggle-checked {
                border: 1px solid grey;
                border-radius: 8px;
                background-color: #f8e71c;
                color: inherit;
            }
        }
    }
}

.amount-wrap {
    height: 2.25rem;
    line-height: 2.25rem;
    padding: 0 1rem;
    border-radius: 6px;
    background-color: #b8e986;
    border: 1px solid grey;
    .amount {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
}

.fwrap {
    flex-wrap: wrap !important;
}