<div class="containerX">
    <div fxLayout="row" class="dialog-header">
        <div fxFlex="flex">
            <h5>{{ title }}</h5>
        </div>
        <div fxFlex="none">
            <button mat-icon-button (click)="dialogRef.close(false)" type="button">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="dialog-no-ac err-dialog-wrapper">
    <mat-dialog-content>
        <div class="containerX dialog-container">
            <div fxLayout="column" fxLayoutGap="-1px" class="li-err-wrap">
                <div *ngFor="let message of messages; let i = index" class="li-err">
                    <span>{{ message }}</span>
                </div>
            </div>            
        </div>
    </mat-dialog-content>
</div>