<div class="containerX" >
    <div fxLayout="row" class="dialog-header">
        <div fxFlex="flex">
            <h5>Schedule selected service</h5>
        </div>
        <div fxFlex="none">
            <button mat-icon-button class="close-icon" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="booking-dialog-wrap bd-wrap-date-time">
    <div mat-dialog-content>
        <div class="containerX dialog-container">
            <ng-container *ngIf="type === 'service'">
                <div fxLayout="column" class="bd-content-1-wrap" fxLayout="column" fxLayoutGap="24px" *ngIf="dateTimeSlots && dateTimeSlots.length">
                    <span class="spacer"></span>
                    <label class="lbl-date-time date">Select date for service</label>
                    <div fxLayout="row" class="date-time-box-wrap date" fxLayoutGap="6px">
                        <div class="date-time-box" *ngFor="let dateTimeSlot of dateTimeSlots; let i = index"
                            [ngClass]="{'selected': i === selectedDateIndex, 'blocked': dateTimeSlot.isBlocked}"
                            (click)="selectDateIndex(i)">
                            <div class="date-box">
                            <span class="day-text">{{ dateTimeSlot.dayText}}</span>
                            <span class="date">{{ dateTimeSlot.dateText }}</span>
                          </div>
                        </div>
                    </div>
                    <span class="spacer"></span>
                    <label class="lbl-date-time">Select time slots</label>
                    <div fxLayout="row" class="date-time-box-wrap time" fxLayoutGap="20px">
                        <div class="date-time-box time-box" *ngFor="let timeSlot of dateTimeSlots[selectedDateIndex]?.timeSlots; let j = index"
                            [ngClass]="{'selected': j === selectedTimeIndex, 'blocked': timeSlot.isBlocked}"
                            (click)="selectTimeIndex(j)">
                            <span>{{ timeSlot.text }}</span>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="type === 'package'">
                <div fxLayout="column" class="bd-content-1-wrap" fxLayout="column" fxLayoutGap="24px" *ngIf="calendarData">
                    <mat-form-field class="dp-disabled dp-package-time" appearance="outline">
                        <mat-label>Choose a date</mat-label>
                        <input matInput (dateChange)="onPDateChange($event)" (click)="picker.open()"
                            [min]="calendarData.minDate" [max]="calendarData.maxDate" [matDatepicker]="picker" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [touchUi]="commonService.getViewPort() === 'mobile'"></mat-datepicker>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
    </div>
    <div mat-dialog-actions>
        <span fxFlex></span>
        <button mat-raised-button class="btn-p-back" (click)="closeDialog()">
            Cancel
        </button>
        <ng-container *ngIf="type === 'service'">
            <button mat-raised-button class="btn-p-next" color="primary" (click)="submiDate()"
                [disabled]="selectedDateIndex < 0 || selectedTimeIndex < 0">
                Save
            </button>
        </ng-container>
        <ng-container *ngIf="type === 'package'">
            <button mat-raised-button class="btn-p-next" color="primary" (click)="submiDate()"
                [disabled]="!pDateStr?.length">
                Save
            </button>
        </ng-container>
    </div>
</div>
