<div class="bookings-wrap" fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" class="page-header" fxLayoutAlign="center center">
        <h3>My Bookings</h3>
    </div>
    <div fxLayout="row" class="tab-switch" fxLayoutAlign="center center">
        <mat-button-toggle-group #group="matButtonToggleGroup"
            value="0" (change)="onCategoryChange($event);">
            <mat-button-toggle value="0">
                <span>Current</span>
            </mat-button-toggle>
            <mat-button-toggle value="1">
                <span>Previous</span>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="tab-wrap">
        <mat-tab-group [selectedIndex]="group.value">
            <mat-tab>
                <ng-template matTabContent>
                <div fxLayout="row" class="tab-content">
                    <mat-card *ngFor="let booking of currentBookings; let i = index">
                        <mat-card-header>
                            <mat-card-title>
                                <div fxLayout="row">                                    
                                    <span>{{ booking.title }}</span>
                                </div>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <div fxLayout="row" fxLayoutAlign="space-between center">                                    
                                    <span>{{ booking.date }}</span>
                                    <span class="booking-status current">{{ booking.status }}</span>
                                </div>
                                </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="booking-details">
                            {{ booking.details }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>VIEW BOOKING</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                </ng-template>
            </mat-tab>
            <mat-tab>
                <ng-template matTabContent>
                <div fxLayout="row" class="tab-content">
                    <mat-card *ngFor="let booking of previousBookings; let i = index">
                        <mat-card-header>
                            <mat-card-title>
                                <div fxLayout="row">                                    
                                    <span>{{ booking.title }}</span>
                                </div>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <div fxLayout="row" fxLayoutAlign="space-between center">                                    
                                    <span>{{ booking.date }}</span>
                                    <span class="booking-status done">{{ booking.status }}</span>
                                </div>
                                </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p class="booking-details">
                            {{ booking.details }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>VIEW BOOKING</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div fxLayout="row" class="book-action" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" routerLink="/app/home">Book A Service</button>
    </div>
</div>