<div class="privacy-policy-wrap" *ngIf="ppItems?.length">
    <div fxLayout="column" class="privacy-policy-content-wrap">
        <h1 class="privacy-policy-header">
            Privacy Policy
        </h1>
        <div class="pp-qsec" fxLayout="row" fxLayoutGap="16px">
            <div class="pp-serials pp-intro-serials">
                <span class="serial-number">{{ 0 | number : '2.0-0' }}</span>
            </div>
            <div class="pp-qa" fxLayout="column" fxLayoutGap="12px">
                <p class="pp-q">
                    {{ ppIntro.question }}
                </p>
                <p class="pp-a">
                    {{ ppIntro.answer }}
                </p>
            </div>
        </div>
        <div class="pp-qsec" fxLayout="row" fxLayoutGap="16px"
            *ngFor="let ppItem of ppItems; let i = index;">
            <div class="pp-serials">
                <span class="serial-number">{{ (i + 1) | number : '2.0-0' }}</span>
            </div>
            <div class="pp-qa" fxLayout="column" fxLayoutGap="12px">
                <p class="pp-q">
                    {{ ppItem.question }}
                </p>
                <p class="pp-a">
                    {{ ppItem.answer }}
                </p>
            </div>
        </div>
    </div>
</div>