<div class="user-profile-outer-wrap">
    <ng-container *ngIf="(ropcService && ropcService.user) else noUserTmpl">
        <div class="user-profile-wrap" fxLayout="column">
            <ng-container *ngIf="commonService.getViewPort() === 'mobile' else nrmlTmpl1">
                <div class="header-wrap" fxLayout="row" fxLayoutAlign="start baseline">
                    <div class="header-sec" fxLayout="column" fxFlex="flex">
                        <h4 class="my-profile-header">My Profile</h4>
                        <div class="header-subtext txt-faded">{{ userEmailString }}</div>
                    </div>
                    <button mat-icon-button color="primary" (onMenuOpen)="itMenuService.onMenuOpen(trigger);"
                        [matMenuTriggerFor]="profileMoreMenu" #trigger="matMenuTrigger" class="btn-sp-menu" fxFlex="none">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <mat-menu #profileMoreMenu="matMenu" class="more-menu mm-profile">
                    <button mat-menu-item class="menu-item-for-lbl" [disabled]="true">
                        My Account
                    </button>
                    <button mat-menu-item (click)="onClickLeftMenu('profile');">
                        Profile
                    </button>
                    <button mat-menu-item class="menu-item-for-lbl" [disabled]="true">
                        My Bookings
                    </button>
                    <button mat-menu-item (click)="onClickLeftMenu('booked-services');">
                        Booked Services
                    </button>
                    <button mat-menu-item (click)="onClickLeftMenu('booked-packages');">
                        Booked Packages
                    </button>
                </mat-menu>
            </ng-container>
            <ng-template #nrmlTmpl1>
                <div class="header-wrap" fxLayout="column">
                    <h4 class="my-profile-header">My Profile</h4>
                    <div class="header-subtext txt-faded">{{ userEmailString }}</div>
                </div>
            </ng-template>
            <div class="content-wrap">
                <div class="content-inner-wrap" fxLayout="row">
                    <!-- left side -->
                    <div class="left-side" fxLayout="column" *ngIf="commonService.getViewPort() !== 'mobile'">
                        <div class="menu-section" fxLayout="column">
                            <div class="ms-header">My Account</div>
                            <div class="ms-item" (click)="onClickLeftMenu('profile');" [ngClass]="{'active': slide === 'profile'}">
                                Profile
                            </div>
                        </div>
                        <div class="menu-section" fxLayout="column">
                            <div class="ms-header">My Bookings</div>
                            <div class="ms-item" (click)="onClickLeftMenu('booked-services');" [ngClass]="{'active': slide === 'booked-services'}">
                                Booked Services
                            </div>
                            <div class="ms-item" (click)="onClickLeftMenu('booked-packages');" [ngClass]="{'active': slide === 'booked-packages'}">
                                Booked Packages
                            </div>
                        </div>
                    </div>
                    <!-- right side -->
                    <div class="right-side" fxLayout="column">
                        <!-- profile -->
                        <div class="rs-content-wrap profile" *ngIf="slide === 'profile'">
                            <form [formGroup]="userForm" novalidate>
                                <div class="bd-card mat-elevation-z1" fxLayout="column">
                                    <div class="header-seg">
                                        <h4 class="header">User Information</h4>
                                        <p class="text">
                                            View/Edit your details
                                        </p>
                                    </div>
                                    <div class="middle-seg" fxLayout="column">
                                        <div class="profile-sec" fxLayout="row">
                                            <span class="ps-label">Name</span>
                                            <span class="ps-value" *ngIf="!isUserDetailEdit">{{ ropcService.user.username }}</span>
                                            <mat-form-field floatLabel="never" *ngIf="isUserDetailEdit" class="in-profile-edit">
                                                <input type="text" matInput placeholder="Name" formControlName="name" novalidate>
                                                <mat-error *ngIf="(userForm.controls['name'].errors | firstKey) ==='required' && userForm.controls['name'].touched">
                                                    Name is required
                                                </mat-error>
                                                <mat-error *ngIf="(userForm.controls['name'].errors | firstKey) === 'pattern' && userForm.controls['name'].touched">
                                                    Please enter a valid name
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="profile-sec" fxLayout="row">
                                            <span class="ps-label">Mobile Number</span>
                                            <span class="ps-value">{{ ropcService.user.mobile_number }}</span>
                                        </div>
                                        <div class="profile-sec" fxLayout="row">
                                            <span class="ps-label">E-mail id</span>
                                            <span class="ps-value" *ngIf="!isUserDetailEdit">{{ userEmailString }}</span>
                                            <mat-form-field floatLabel="never" *ngIf="isUserDetailEdit" class="in-profile-edit">
                                                <input type="email" matInput placeholder="Email" formControlName="email" novalidate>
                                                <mat-error *ngIf="(userForm.controls['email'].errors | firstKey) ==='required' && userForm.controls['email'].touched">
                                                    Email is required
                                                </mat-error>
                                                <mat-error *ngIf="(userForm.controls['email'].errors | firstKey) ==='pattern' && userForm.controls['email'].touched">
                                                    Please enter valid email id
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="action-seg" fxLayout="row" fxLayoutGap="12px">
                                        <ng-container *ngIf="isUserDetailEdit else noUserDetailEditTmpl">
                                            <button type="button" mat-raised-button class="mat-elevation-z0" (click)="cancelUserDetailEdit()">
                                                Cancel
                                            </button>
                                            <button type="submit" mat-raised-button class="mat-elevation-z0" color="primary" (click)="saveUserDetailEdit()"
                                                [disabled]="userForm.invalid">
                                                Save
                                            </button>
                                        </ng-container>
                                        <ng-template #noUserDetailEditTmpl>
                                            <button type="button" mat-raised-button class="mat-elevation-z0" color="primary" (click)="enableUserDetailEdit()">
                                                Edit Details
                                            </button>
                                        </ng-template>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- booked services -->
                        <div class="rs-content-wrap bserv" *ngIf="slide === 'booked-services'" fxLayout="column" fxLayoutGap="16px">
                            <ng-container *ngIf="bookedServices?.length else noBookedItemsTmpl">
                                <div class="bd-card mat-elevation-z1" fxLayout="column"
                                    *ngFor="let service of bookedServices; let bi = index">
                                    <div class="header-seg">
                                        <h4 class="header">{{ service.serviceCatName }}</h4>
                                        <!-- <button mat-icon-button color="accent" (onMenuOpen)="itMenuService.onMenuOpen(trigger);"
                                            [matMenuTriggerFor]="serviceMoreMenu" #trigger="matMenuTrigger" class="btn-sp-menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #serviceMoreMenu="matMenu" class="more-menu unset-mh">
                                            <button mat-menu-item (click)="onClickServiceChangeTime(bi, service)">
                                                    {{ service.bookingDate ? 'Change Date and Time' : 'Select Date and Time'}}
                                            </button>
                                            <button mat-menu-item (click)="onClickServiceChangeAddress(bi, service)">
                                                Change Address
                                            </button>
                                        </mat-menu> -->
                                        <p class="text">
                                            {{ service.serviceName }}
                                        </p>
                                    </div>
                                    <div class="middle-seg" fxLayout="column">
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Main Packages</span>
                                            <span class="spdc-value">{{ service.comboPackages | novoCurlBracketRemover }}</span>
                                        </div>
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Extra Packages</span>
                                            <span class="spdc-value">{{ ((service.extraPackages && service.extraPackages.length) ? service.extraPackages : '') | novoCurlBracketRemover }}</span>
                                        </div>
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Total Amount</span>
                                            <ng-container *ngIf="(service.couponApplied && service.couponDiscount > 0) else noCouponTmpl">
                                                <span class="spdc-value">
                                                    Rs.&nbsp;
                                                    <span class="cut">{{ service.totalAmountOriginal | number }}</span>
                                                    &nbsp;{{ service.totalAmount | number }}
                                                </span>
                                            </ng-container>
                                            <ng-template #noCouponTmpl>
                                                <span class="spdc-value">Rs. {{ service.totalAmount | number }}</span>
                                            </ng-template>
                                        </div>
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Status</span>
                                            <ng-container [ngSwitch]="service.bookingStatus.toLowerCase()">
                                                <span *ngSwitchCase="'completed'" class="spdc-value value-status success">Confirmed</span>
                                                <span *ngSwitchCase="'failed'" class="spdc-value value-status error">Failed</span>
                                                <span *ngSwitchDefault class="spdc-value value-status">{{ service.bookingStatus }}</span>
                                            </ng-container>
                                        </div>
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Payment Mode</span>
                                            <ng-container [ngSwitch]="service.paymentMode">
                                                <span *ngSwitchCase="'CASHON_DELIVERY'" class="spdc-value value-status success">Cash On Delivery</span>
                                                <span *ngSwitchCase="'ONLINE'" class="spdc-value value-status success">Online</span>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="action-seg" fxLayout="row" fxLayoutGap="8px">
                                        <div class="as-sec" fxLayout="column">
                                            <span class="as-header">Service required at</span>
                                            <span class="as-value">{{ service | novoUserAddress }}</span>
                                        </div>
                                        <div class="as-sec" fxLayout="column">
                                            <span class="as-header">Service required on</span>
                                            <span class="as-value">{{ service.bookingDate | date : 'fullDate' }}</span>
                                            <span class="as-value">Between {{ service.bookingTime }}</span>
                                        </div>
                                    </div>
                                    <div class="action-seg" fxLayout="column" fxLayoutGap="8px">
                                        <div class="as-sec">
                                            <span class="as-header">Change in plans?</span>
                                        </div>
                                        <div class="as-sec as-sec-btn-cont" fxLayout="row" fxLayoutGap="12px">
                                            <button mat-raised-button class="btn-bserv-action" (click)="onClickServiceChangeTime(bi, service)">
                                                    {{ service.bookingDate ? 'Change Date and Time' : 'Select Date and Time'}}
                                            </button>
                                            <button mat-raised-button class="btn-bserv-action" (click)="onClickServiceChangeAddress(bi, service)">
                                                Change Address
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <!-- booked packages -->
                        <div class="rs-content-wrap bserv" *ngIf="slide === 'booked-packages'" fxLayout="column" fxLayoutGap="16px">
                            <ng-container *ngIf="bookedPackages?.length else noBookedItemsTmpl">
                                <div class="bd-card mat-elevation-z1" fxLayout="column"
                                    *ngFor="let service of bookedPackages; let bi = index">
                                    <div class="header-seg">
                                        <h4 class="header">{{ service.packageCatName }}</h4>
                                        <button mat-icon-button color="accent" (onMenuOpen)="itMenuService.onMenuOpen(trigger);"
                                            [matMenuTriggerFor]="serviceMoreMenu" #trigger="matMenuTrigger" class="btn-sp-menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #serviceMoreMenu="matMenu" class="more-menu unset-mh">
                                            <button mat-menu-item (click)="onClickPackageChangeTime(bi, service)">
                                                {{ service.lastBookingDate ? 'Change Date and Time' : 'Select Date and Time'}}
                                            </button>
                                            <button mat-menu-item (click)="onClickPackageChangeAddress(bi, service)">
                                                Change Address
                                            </button>
                                        </mat-menu>
                                        <p class="text">
                                            {{ service.packageName }}
                                        </p>
                                    </div>
                                    <div class="middle-seg" fxLayout="column">
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Main Packages</span>
                                            <span class="spdc-value">{{ service.comboPackages | novoCurlBracketRemover }}</span>
                                        </div>
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Extra Packages</span>
                                            <span class="spdc-value">{{ ((service.extraPackages && service.extraPackages.length) ? service.extraPackages : '-') | novoCurlBracketRemover }}</span>
                                        </div>
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Total Amount</span>
                                            <ng-container *ngIf="(service.couponApplied && service.couponDiscount > 0) else noCouponTmpl">
                                                <span class="spdc-value">
                                                    Rs.&nbsp;
                                                    <span class="cut">{{ service.totalAmountOriginal | number }}</span>
                                                    &nbsp;{{ service.totalAmount | number }}
                                                </span>
                                            </ng-container>
                                            <ng-template #noCouponTmpl>
                                                <span class="spdc-value">Rs. {{ service.totalAmount | number }}</span>
                                            </ng-template>
                                        </div>
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Expires On</span>
                                            <span class="spdc-value">{{ service.expiredDate | date : 'medium' }}</span>
                                        </div>
                                        <div class="sp-detail-sec" fxLayout="row">
                                            <span class="spdc-label">Status</span>
                                            <ng-container [ngSwitch]="service.bookingStatus.toLowerCase()">
                                                <span *ngSwitchCase="'completed'" class="spdc-value value-status success">Confirmed</span>
                                                <span *ngSwitchCase="'failed'" class="spdc-value value-status error">Failed</span>
                                                <span *ngSwitchDefault class="spdc-value value-status">{{ service.bookingStatus }}</span>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="action-seg" fxLayout="row" fxLayoutGap="8px">
                                        <div class="as-sec" fxLayout="column">
                                            <span class="as-header">Package required at</span>
                                            <span class="as-value">{{ service | novoUserAddress }}</span>
                                        </div>
                                        <div class="as-sec" fxLayout="column">
                                            <span class="as-header">Package required on</span>
                                            <ng-container *ngIf="service.lastBookingDate else noDateTimeTmpl">
                                                <span class="as-value">{{ service.lastBookingDate | date : 'fullDate' }}</span>
                                                <!-- <span class="as-value">Between {{ service.lastBookingTime }}</span> -->
                                            </ng-container>
                                            <ng-template #noDateTimeTmpl>
                                                <span class="as-value">&lt;date time not yet selected&gt;</span>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noUserTmpl>
        <div class="user-profile-wrap" fxLayout="column">
            <h1>You Are Not Logged In</h1>
            <p>Please log in to see profile information</p>
        </div>
    </ng-template>
</div>
<ng-template #noBookedItemsTmpl>
    <div class="card-no-items" fxLayout="column">
        <mat-icon>sentiment_dissatisfied</mat-icon>
        <p>It's empty in here</p>
        <p>Book a service/package to see details here</p>
    </div>
</ng-template>
