.user-profile-outer-wrap {
    .user-profile-wrap {
        max-width: 1024px;
        margin: 0 auto;
        padding-bottom: 40px;
        min-height: 78vh;
        .header-wrap {
            border-bottom: 1px solid #eaeaec;
            padding-bottom: 20px;
            .my-profile-header {
                margin-bottom: 4px;
            }
            .header-subtext {
                font-size: 14px;
            }
        }
        .content-wrap {
            margin-top: 20px;
            .content-inner-wrap {                
                .left-side {
                    border-right: 1px solid #eaeaec;
                    width: 22%;
                    vertical-align: top;
                    margin-right: 20px;
                    .menu-section {
                        padding-left: 0;
                        border: 0;
                        margin-right: 28px;
                        &:not(:last-of-type) {
                            border-bottom: 1px solid #eaeaec;
                        }
                        .ms-header {
                            padding: 12px 0;
                            color: #7e818c;
                            text-transform: uppercase;
                            font-size: 14px;
                        }
                        .ms-item {
                            padding-left: 12px;
                            &:last-of-type {
                                padding-bottom: 12px;
                            }
                            & + .ms-item {
                                padding-top: 12px;
                            }
                            &:not(.active) {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .right-side {
                    width: 74%;
                    .rs-content-wrap {
                        .bd-card {
                            max-width: 100%;
                            padding-left: 20px;
                            padding-bottom: 20px;
                            padding-right: 20px;
                            .header-seg {
                                padding: 12px 0;
                                border-bottom: 1px solid #eaeaec;
                                .header {
                                    margin: 0 0 8px;
                                }
                                .text {
                                    margin: 4px 0;
                                    font-size: 14px;
                                    color: #5f5c5c;
                                }
                            }
                            .middle-seg {
                            }
                            .action-seg {
                                margin-top: 20px;
                            }
                        }
                        &.profile {
                            .bd-card {
                                .middle-seg {
                                    margin-top: 20px;
                                    .profile-sec {
                                        height: 48px;
                                        align-items: center;
                                        .ps-label {
                                            width: 200px;
                                            color: #5f5c5c;
                                        }
                                    }
                                }
                            }
                        }
                        &.bserv {
                            .bd-card {
                                .header-seg {
                                    position: relative;
                                    button.btn-sp-menu {
                                        position: absolute;
                                        right: 0;
                                        top: 8px;
                                    }
                                }
                                .middle-seg {
                                    margin-top: 20px;
                                    font-size: .875rem;
                                    .sp-detail-sec{
                                        min-height: 24px;
                                        align-items: center;
                                        .spdc-label {
                                            width: 200px;
                                            color: #5f5c5c;
                                        }
                                        .spdc-value {
                                            &.value-status {
                                                color: white;
                                                padding: 2px 4px;
                                                border-radius: 2px;
                                                text-transform: uppercase;
                                                background-color: silver;
                                                &.success {
                                                    background-color: green;
                                                }
                                                &.error {
                                                    background-color: red;
                                                }
                                                &.warn {
                                                    background-color: orange;
                                                }
                                            }
                                        }
                                    }
                                }
                                .action-seg {
                                    border-top: 1px solid #eaeaec;
                                    padding-top: 20px;
                                    font-size: .875rem;
                                    .as-sec {
                                        width: 50%;
                                        padding-right: 20px;
                                        .as-header {
                                            color: #5f5c5c;
                                            margin-bottom: 12px;
                                        }
                                        .as-value {
                                            line-height: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.mat-menu-panel.mm-profile {
    .mat-menu-content {
        [mat-menu-item].mat-menu-item {
            &[disabled] {
                background-color: transparent;
            }
            &:not(.menu-item-for-lbl) {
                padding-left: 28px;
            }
        }
    }
}
@media (max-width: 767px) {
    .user-profile-outer-wrap {
        .user-profile-wrap {
            .content-wrap {
                .content-inner-wrap {
                    .right-side {
                        width: 100%;
                        .rs-content-wrap {
                            &.bserv {
                                .bd-card {
                                    .middle-seg {
                                        font-size: .875rem;
                                        margin-top: 8px;
                                        .sp-detail-sec {
                                            .spdc-label {
                                                width: 120px;
                                            }
                                            .spdc-value {
                                                &:not(.value-status) {
                                                    width: 160px;
                                                }
                                            }
                                        }
                                    }
                                    .action-seg {
                                        padding-top: 12px;
                                    }
                                }
                            }
                            &.profile {
                                .bd-card {
                                    .middle-seg {
                                        font-size: .875rem;
                                        margin-top: 8px;
                                        .profile-sec {
                                            .ps-label {
                                                width: 120px;
                                            }
                                            .ps-value {
                                                width: 160px;
                                            }
                                            .mat-form-field {
                                                &.in-profile-edit {
                                                    width: 160px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}