.dialog-panel-login {
  max-width: 640px !important;
  border-radius: 4px;
  .mat-dialog-container {
    .mat-dialog-content {
      height: auto;
      min-height: unset;
      .dialog-container {
        padding: 16px 60px 30px;
        max-width: 440px;
        margin: 0 auto;
      }
    }
  }
}

.content-wrapper {
  padding: 76px 20px 0;
}

.fsec-wrapper {
  background-color: #252525;
  .light-dark {
    background-color: #252525;
  }
  .dark {
    background-color: #141414;
  }
  & > div {
    width: 100%;
    max-width: 1170px;
  }
  .fsec-social-wrap {
    height: 80px;
    & > a {
      i.fa {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        color: #fff;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        text-align: center;
        border-radius: 50%;
      }
    }
  }
  .fsec-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
  .fsec-content-wrap {
    padding: 12px 0;
    .content-block {
      flex: 1 1 100%;
      padding: 0 12px;
      .fsec-block-header {
        color: #fff;
        font-family: "Open Sans",sans-serif;
        margin-top: 0;
      }
      .fsec-block-content {
        line-height: 22px;
        color: #7f7f7f;
        font-size: 14px;
        .p-about{
          margin: 0;
          text-align: justify;
        }
        .fsec-content-list {
          list-style: none;
          padding: 0;
          a {
            color: inherit;
          }
        }
      }
    }
  }
}

.mat-button, .mat-stroked-button {
  &.btn-login {
    width: 60px;
    padding: 0;
    min-width: unset;
    border: 0;
  }
  &.btn-user {
    border: 0;
  }
}

.custom-menu.mat-menu-panel {
  &.menu-help {
    width: 320px;
    height: 276px;
    max-width: unset;
    max-height: unset;
    .help-popup-wrap {
      align-items: center;
      padding: 0 12px;
      .help-header {
        margin: 0;
        font-weight: 400;
      }
      .help-sub-header {
        margin: 0;
        font-weight: 400;
        color: grey;
        margin-top: 4px;
      }
      .mat-form-field {
        width: 100%;
        max-width: 268px;
      }
    }
  }
}

.page-sidenav-content {
  mat-toolbar.mat-toolbar:not([color]).toolbar-primary {
    .logo {
      background-image: url("/assets/img/logo.png");
      width: 142px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }  
  }
}

@media (min-width: 960px) {
  .page-sidenav-content {
    mat-toolbar.mat-toolbar:not([color]).toolbar-primary {
      .logo {
        margin-left: 36px;
      }  
    }
  }
}

@media (max-width: 767px) {
  .page-sidenav-content {
    mat-toolbar.mat-toolbar:not([color]).toolbar-primary {
      max-width: 100%;
      width: 100;
      &.mh-mob {
        background-color: #f3f3f3;
        & > [mat-button].mat-button:not(.mat-icon-button) {
          height: 1.25rem;
          padding: 0.75rem 0.5rem;
          line-height: 0;
        }
      }
      .logo {
        width: 136px;
        height: 56px;
      }  
    }
  }
  .dialog-panel-login {
    .mat-dialog-container {
      .mat-dialog-content {
        .dialog-container {
          padding: 16px 16px 30px;
        }
      }
    }
  }
}