.dialog-panel-login {
  max-width: 640px !important;
  border-radius: 4px;
  .mat-dialog-container {
    .mat-dialog-content {
      height: auto;
      min-height: unset;
      .dialog-container {
        padding: 16px 60px 30px;
        max-width: 440px;
        margin: 0 auto;
      }
    }
  }
}

.content-wrapper {
  padding: 76px 20px 0;
  &.cw-home {
    padding-top: 40px !important;
  }
}

.fsec-wrapper {
  // background-color: rgb(250, 251, 252);
  // color: #696B79;
  padding: 0px 0px 40px;
  background: rgb(250, 251, 252);
  .light-dark {
    background-color: rgb(250, 251, 252);
  }
  .dark {
    background-color: #141414;
  }
  & > div {
    width: 100%;
    max-width: 1170px;
  }
  .fsec-social-wrap {
    height: 100px;
    max-width: initial;
    color: #7f7f7f;
    background-color: #f3f3f3;
    & > a {
      i.fa {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
        color: #696e79;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        text-align: center;
        border-radius: 50%;
      }
    }
    .count-wrap {
      align-items: center;
      .count-first {
        align-items: center;
        justify-content: center;
        height: 56px;
        line-height: 56px;
        & > * {
          height: 64px;
          line-height: 64px;
        }
        .mat-icon {
          font-size: 30px;
          width: 28px;
          height: 56px;
        }
        .count-number {
          font-size: 50px;
          font-weight: 300;
        }
      }
      .count-second {
        .count-label {
          text-transform: uppercase;
          font-size: 13px;
          letter-spacing: 1px;
          font-weight: 600;
        }
      }
    }
  }
  .fsec-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
  }
  .fsec-content-wrap {
    padding: 0;
    padding-top: 20px;
    .content-block {
      flex: 1 1 100%;
      padding: 0 12px;
      .fsec-block-header {
        color: #7f7f7f;
        font-family: "Titillium Web",sans-serif;
        margin-top: 0;
        text-transform: uppercase;
        font-size: 15px;
      }
      .fsec-block-content {
        line-height: 22px;
        color: #7f7f7f;
        font-size: 14px;
        .p-about{
          margin: 0;
          text-align: justify;
        }
        .fsec-content-list {
          list-style: none;
          padding: 0;
          a {
            color: inherit;
          }
          &.list-socials {
            & > li {
              display: inline-block;
              padding-right: 12px;
            }
          }
          &.list-quality {
            .quality-wrap {
              padding-bottom: 12px;
              .quality-img {
                background-image: url("assets/img/sprite1.png");
                width: 38px;
                height: 40px;
                margin-right: 15px;
                background-size: 94px;
              }
              .quality-msg {
                width: 184px;
              }
              .quality-img {
                &.hundred-percent {
                  background-position: 0 2px;
                }
                &.return {
                  background-position: 78px 2px;
                  background-size: 130px;
                }
                &.delivery {
                  background-position: 38px 2px;
                  background-size: 124px;
                }
              }
            }
          }
        }
      }
      &.cb-why-us {
        flex-basis: 200%;
        .fsec-block-content {
          .why-us-wrap {
            flex-wrap: wrap;
            .why-us-item {
              flex: 1 1 44%;
              margin-bottom: 24px;
              margin-right: 12px;
              .mat-icon {
                width: 42px;
                height: 42px;
                min-width: 42px;
                font-size: 24px;
                background-color: #f3f3f3;
                border-radius: 50%;
                line-height: 42px;
                text-align: center;
              }
              .why-us-twrap {
                margin-left: 12px;
                & > p {
                  margin: 0;
                  padding: 0;
                  &.why-us-head {
                    font-weight: 600;
                    margin-bottom: 6px;
                  }
                  &.why-us-text {
                    line-height: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.mat-button, .mat-stroked-button {
  &.btn-login {
    width: 60px;
    padding: 0;
    min-width: unset;
    border: 0;
  }
  &.btn-user {
    border: 0;
  }
  &.btn-help{
    // background-color: #cedbfb;
    border-radius: 10px !important;
    font-size: 0.7rem !important;
    font-weight: 800 !important;
    height: 2rem !important;
    line-height: 0.5rem !important;
  }
}

.custom-menu.mat-menu-panel {
  &.menu-help {
    width: 320px;
    height: 330px;
    max-width: unset;
    max-height: unset;
    .help-popup-wrap {
      align-items: center;
      padding: 0 12px;
      .help-header {
        margin: 0;
        font-weight: 400;
      }
      .help-sub-header {
        margin: 0;
        font-weight: 400;
        color: grey;
        margin-top: 4px;
      }
      .mat-form-field {
        width: 100%;
        max-width: 268px;
      }
    }
  }
}

.page-sidenav-content {
  mat-toolbar.mat-toolbar:not([color]).toolbar-primary {
    .logo {
      background-image: url("/assets/img/icon.png");
      width: 142px;
      // background-size: contain;
      background-repeat: no-repeat;
      // background-position: center center;
      background-size: 75px;
      background-position: 26px center;
    }
  }
}

@media (min-width: 960px) {
  .page-sidenav-content {
    mat-toolbar.mat-toolbar:not([color]).toolbar-primary {
      .logo {
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: 767px) {
  .page-sidenav-content {
    mat-toolbar.mat-toolbar:not([color]).toolbar-primary {
      max-width: 100%;
      width: 100;
      &.mh-mob {
        background-color: #f3f3f3;
        & > [mat-button].mat-button:not(.mat-icon-button) {
          height: 1.25rem;
          padding: 0.75rem 0.5rem;
          line-height: 0;
        }
      }
      .logo {
        width: 70px;
        height: 70px;
        background-position: 0;
      }
    }
  }
  .dialog-panel-login {
    .mat-dialog-container {
      .mat-dialog-content {
        .dialog-container {
          padding: 16px 16px 30px;
        }
      }
    }
  }
  .fsec-wrapper {
    .fsec-social-wrap {
      height: 116px;
      padding: 8px 0;
      .count-wrap {
        align-items: flex-end;
        .count-first {
          height: 36px;
          line-height: 1;
          & > * {
            height: 36px;
            line-height: 36px;
          }
          .mat-icon {
            font-size: 30px;
            width: 28px;
            height: 36px;
            line-height: 1.5;
          }
          .count-number {
            font-size: 36px;
            padding-right: 8px;
          }
        }
      }
    }
  }
}
