<div class="page-sidenav-content" >
    <mat-toolbar class="toolbar-primary">
        <a class="logo" href="/app"></a>
        <span class="fill-remaining-space"></span>
        <ng-container *ngIf="!user else userTmpl">            
            <button mat-button mat-round-button color="primary" (click)="openLoginSignUpDialog()">
                Login/Signup
            </button>
        </ng-container>
        <ng-template #userTmpl>
            <button mat-button class="btn-user" [matMenuTriggerFor]="userMenu" #userTrigger="matMenuTrigger"
                (onMenuOpen)="itMenuService.onMenuOpen(userTrigger);">
                {{ getInitials() }}
            </button>
        </ng-template>
    </mat-toolbar>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
            <span>Logout</span>
        </button>
    </mat-menu>
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <div class="cdk-overlay-container">
    <div class="cdk-global-overlay-wrapper" style="justify-content: center; align-items: center;">
        <div class="cdk-overlay-backdrop cdk-overlay-custom-backdrop cdk-overlay-backdrop-showing"></div>
        <div class="cdk-overlay-pane dialog-panel" style="position: static; pointer-events: auto; width: 75%; height: 100%">
            <div class="mat-dialog-container">
                <div>
                    <router-outlet name="dialog" class="dialog" #o="outlet"></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div> -->